/app/assets/images/temp
# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/coverage
/config/database.yml
/config/secrets.yml
tags
/test
.idea
*.iml
*.~
/nbproject/private/